
[mysqld]

# Cache all cacheable query results except for those that
# begin with SELECT SQL_NO_CACHE. Use with MyISAM Databases.
#query-cache-type = 1
 
 
# If an in-memory temporary table exceeds the limit,
# MySQL automatically converts it to an on-disk MyISAM table.
# max-heap-table-size sets the maximum size to which user-created
# MEMORY tables are permitted to grow. This variable is also used in
# conjunction with tmp-table-size to limit the size of internal
# in-memory tables.
tmp-table-size = 32M
max-heap-table-size = 32M
