[mysqld]

# Enable the read only feature in order to avoid conflicts in slave hosts.

# When the read-only system variable is enabled, the server permits no client
# updates except from users who have the SUPER privilege.
# a unique identity.
#read-only = On


# Optional if you have MySQL > 5.7.8
# If super-read-only is enabled, the server prohibits client updates,
# even from users who have the SUPER privilege.
#super-read-only = On
